 <!DOCTYPE html>
 <html lang="en" dir="ltr">

 <head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
   <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Underdog&display=swap" rel="stylesheet">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
   <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
   <link rel="stylesheet" href="../public/css/remeras.css">

   <title>AlwaysT-shirts</title>
 </head>

 <body>

   <header class="main-header">
     <div class="container_flex">
       <div class="main-header_container">
         <img class="img-header" src="../public/img/logoalways.png" alt="logo">
         <div class="usuarioYCarrito">
           <div class="inicioDeSesion">
             <i class="usuario fas fa-user-tag fa-sm" id="grande"></i>
             <i class="usuario fas fa-user-tag fa-xs" id="chico"></i>
             <a href="" class="iniciosesion">Iniciar sesión</a>
           </div>
           <a href="" class="carritoCompra"><i class="carrito fas fa-shopping-cart fa-sm" id="paraPc"></i>
             <i class="carrito fas fa-shopping-cart fa-xs" id="paraCel"></i></a>
         </div>
       </div>

       <!--barra de navegación:-->
       <nav>
         <nav class="navbar navbar-expand-lg navbar-light bg-light">
           <div class="container-fluid">
             <a class="navbar-brand" href="../index.html">INICIO</a>
             <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
             </button>
             <div class="collapse navbar-collapse" id="navbarSupportedContent">
               <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                 <li class="nav-item">
                   <a class="nav-link active" aria-current="page" href="../layouts/accesorios.html">Accesorios</a>
                 </li>
                 <li class="nav-item">
                   <a class="nav-link" href="../layouts/remeras.html">Remeras</a>
                 </li>
                 <li class="nav-item">
                   <a class="nav-link" href="../layouts/funkos.html">Funkos</a>
                 </li>
                 <li class="nav-item">
                   <a class="nav-link" href="../layouts/articulos.html">Articulos</a>
                 </li>
               </ul>

               <form class="d-flex">
                 <input class="form-control me-2" type="search" placeholder="Busqueda" aria-label="Search">
                 <button class="btn btn-dark" type="submit">Busqueda</button>
               </form>
             </div>
           </div>
         </nav>
       </nav>
     </div>
   </header>

   <main class="main">
     <h2 class="titulo-menu" data-aos="fade-down">REMERAS</h2>
     <section class="container-products">
       <div class="product">
         <div class="imagenTituloPrecio">
           <img src="../public/img/remeras/rem1.jpg" alt="" class="img-producto" data-aos="zoom-in">
           <h3 class="titulo-producto">Gryffindor</h3>
           <span class="precio-producto">$1400</span>
         </div>
         <div class="botonComprar">
           <button type="button" class="btn btn-light">COMPRAR</button>
         </div>
       </div>
       <div class="product">
         <div class="imagenTituloPrecio">
           <img src="../public/img/remeras/slit.jpg" alt="" class="img-producto" data-aos="zoom-in">
           <h3 class="titulo-producto">Slytherin</h3>
           <span class="precio-producto">$1400</span>
         </div>
         <div class="botonComprar">
           <button type="button" class="btn btn-light">COMPRAR</button>
         </div>
       </div>
       <div class="product">
         <div class="imagenTituloPrecio">
           <img src="../public/img/remeras/rav.jpg" alt="" class="img-producto" data-aos="zoom-in">
           <h3 class="titulo-producto">Ravenclaw</h3>
           <span class="precio-producto">$1400</span>
         </div>
         <div class="botonComprar">
           <button type="button" class="btn btn-light">COMPRAR</button>
         </div>
       </div>
       <div class="product">
         <div class="imagenTituloPrecio">
           <img src="../public/img/remeras/huf.jpg" alt="" class="img-producto" data-aos="zoom-in">
           <h3 class="titulo-producto">Hufflepuf</h3>
           <span class="precio-producto">$1400</span>
         </div>
         <div class="botonComprar">
           <button type="button" class="btn btn-light">COMPRAR</button>
         </div>
       </div>
       <div class="product">
         <div class="imagenTituloPrecio">
           <img src="../public/img/remeras/enriquepotasio.jpg" alt="" class="img-producto" data-aos="zoom-in">
           <h3 class="titulo-producto">Harry,Ron y Hermione</h3>
           <span class="precio-producto">$1400</span>
         </div>
         <div class="botonComprar">
           <button type="button" class="btn btn-light">COMPRAR</button>
         </div>
       </div>
       <div class="product">
         <div class="imagenTituloPrecio">
           <img src="../public/img/remeras/dobby.jpg" alt="" class="img-producto" data-aos="zoom-in">
           <h3 class="titulo-producto">Dobby</h3>
           <span class="precio-producto">$1400</span>
         </div>
         <div class="botonComprar">
           <button type="button" class="btn btn-light">COMPRAR</button>
         </div>
       </div>
       <div class="product">
         <div class="imagenTituloPrecio">
           <img src="../public/img/remeras/luna.jpg" alt="" class="img-producto" data-aos="zoom-in">
           <h3 class="titulo-producto">Luna</h3>
           <span class="precio-producto">$1400</span>
         </div>
         <div class="botonComprar">
           <button type="button" class="btn btn-light">COMPRAR</button>
         </div>
       </div>
       <div class="product">
         <div class="imagenTituloPrecio">
           <img src="../public/img/remeras/nuevetres.jpg" alt="" class="img-producto" data-aos="zoom-in">
           <h3 class="titulo-producto">9 3/4</h3>
           <span class="precio-producto">$1200</span>
         </div>
         <div class="botonComprar">
           <button type="button" class="btn btn-light">COMPRAR</button>
         </div>
       </div>
     </section>
   </main>
   </div>
   </main>
   <style type="text/css">
     body,
     a,
     a:hover {
       cursor: url(http://cur.cursors-4u.net/symbols/sym-6/sym600.cur), progress;
     }
   </style>
   <footer class="pie-pagina">
     <div class="grupo-1">
       <div class="box">
         <figure>
           <img src="../public/img/logoalwaysnegro.png" alt="Logo" id="animado">
         </figure>
       </div>
       <div class="box">
         <h2>SOBRE NOSOTROS</h2>
         <p>Somos una empresa dedicada a la comercialización de productos con tematica de "Harry Potter".
           Porque entendemos tu pasión por la magia!</p>
       </div>
       <div class="box">
         <h2>SIGUENOS</h2>
         <div class="red-social">
           <a href="https://www.facebook.com/" class="fab fa-facebook"></a>
           <a href="https://www.instagram.com/" class="fab fa-instagram"></a>
           <a href="https://twitter.com/" class="fab fa-twitter"></a>
           <a href="https://www.youtube.com/" class="fab fa-youtube"></a>
         </div>
         <h2 id="titulo-medioDePago">MEDIOS DE PAGO</h2>
         <div class="medioDePago">
           <a href="#" class="fas fa-money-bill fa-sm"></a>
           <a href="#" class="fas fa-credit-card fa-sm"></a>
           <a href="#" class="fas fa-university fa-sm"></a>
         </div>
       </div>
     </div>
     <div class="grupo-2">
       <small>&copy; 2021 <b>AlwaysT-shirts</b> - Todos los Derechos Reservados.</small>
     </div>
   </footer>
   <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
   <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
   <script>
     AOS.init();
   </script>
   <script src="./public/js/main.js"></script>
 </body>

 </html>
